@{
    ViewBag.Title = "How to Face2Face works:";
}
<h2>@ViewBag.Title.</h2>


<p>
    You can meet people with the same languages interests as you.
    
    //Our website you can book meetings with people you dont't know but who shares the same languages interests as you.
    <br></br>
    You have two ways to do that:
    <br></br>
    You can create your own events and invite people to go on them
    <br></br>
    or
    <br></br>
    You can go to one that already exists.
    <br></br>
    After you attend an event you can give your opinion and also rate the people who organize it.
    <br></br>
    Like the others participants can do the same when you organize an event.
    <br></br>
    You can see Face2Face as an excellent opprtunitty to improve your language skills.
</p>