
@using Face2Face.Models
@model LoginViewModel

@{
    ViewBag.Title = "How to Face2Face works:";
}

<style>

    .about {
        background-color: rgba(255,255,255,0.6);
        /*opacity: 0.7;*/
        border-radius: 20px;
    }

    body {
        background-image: url("../../Content/Images/back.jpg");
        background-size: cover;
        /*background-size: 2048px 1024px;*/
        background-repeat: no-repeat;
    }
    h2 {
        font-family: 'Arabic Typesetting';
        font-size: 70px;
        font-weight: bold;
        text-align: center;
    }

</style>


<h2>@ViewBag.Title</h2>
    <div class="about">
        <p>



            @*How Face2Face works:*@
            <br />
            Do you feel that sometimes you don't have enough time to speak the new language that you're learning?
            <br />
            Face2Face could be the answer!
            <br />
            This is a plataform that allows you to learn, improve and get more vocabulary in a new language.
            <br />
            A way to learn but also a way to meet people who share the same language insterests as you. Including people from others nationalities.
            <br />
            You have two ways to do that:
            <br />
            You can create your own events and invite people to go on them
            <br />
            or
            <br />
            You can go on any event that already exists.
            <br />
            After you attend an event you can give your opinion and also rate the people who organize it.
            <br />
            Like the other participants can do the same when you organize an event.
            <br />
            You can see Face2Face as an excellent opprtunity to improve your language skills.
        </p>
        <br />
    </div>

