@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@


<h2>Face2Face team:</h2>
<h3>@ViewBag.Message</h3>

<style>
    body {
        background-image: url("../../Content/Images/black_background.jpg");
        color: white;
        display: inline-block;
        vertical-align: top;
    }
</style>
<html>
<body>
    <div class="row">
        <div class="col-md-4">
            <p>
                Andreia Amador  (andreiaamadort92@gmail.com)
            </p>
            <img src="../../UploadedFiles/andreia.jpg" width="150" height="150">
            <br></br>

            <p>
                Diego souza  (diego.souza@outlook.pt)
            </p>
            <img src="../../UploadedFiles/diego.jpg" width="150" height="150">
            <br></br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                Pedro Santos  (pedro.linares.santos@gmail.com)
            </p>
            <img src="../../UploadedFiles/Pedro.jpg" width="150" height="150">
            <br></br>

            <p>
                Sara Rodrigues  (saralopesr@gmail.com)
            </p>
            <img src="../../UploadedFiles/sara.jpg" width="150" height="150">
            <br></br>
        </div>
    </div>
</body>
</html>


