<h2>Face2Face team:</h2>
<h3>@ViewBag.Message</h3>

<style>
    body {
        background-image: url("../../Content/Images/back.jpg");
        background-size: cover;
        background-repeat: no-repeat;

    }

    .contact {
        text-align: center;
        background-color: rgba(255,255,255,0.6);
        /*opacity: 0.8;*/
        border-radius: 20px;
        margin: 10px;
    }

    .col-md-6 {
    
    padding: 5px;
    }
</style>


<div class="container-fluid contact">

    <br />

    <div class="row">

        <div class="col-md-6 ">

            <p>
                Andreia Amador  (andreiaamadort92@gmail.com)
            </p>
            <img src="../../UploadedFiles/andreia.jpg" width="150" height="150">

        </div>


        <div class="col-md-6">

            <p>
                Diego souza  (diego.souza@outlook.pt)
            </p>
            <img src="../../UploadedFiles/diego.jpg" width="150" height="150">

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                Pedro Santos  (pedro.linares.santos@gmail.com)
            </p>
            <img src="../../UploadedFiles/Pedro.jpg" width="150" height="150">
        </div>

        <div class="col-md-6">
            <p>
                Sara Rodrigues  (saralopesr@gmail.com)
            </p>
            <img src="../../UploadedFiles/sara.jpg" width="150" height="150">
        </div>
    </div>

    <br />
</div>