<h2>Face2Face team:</h2>

<div class="col-md-3">
        <p>
            Andreia Amador  andreiaamadort92@gmail.com
        </p>
        <img src="../../UploadedFiles/andreia.jpg" width="150" height="150">
</div>

<div class="col-md-3">
    <p>
        Diego Souza
        <br />
        diego.souza@outlook.pt
        
    </p>
    <img src="../../UploadedFiles/diego.jpg" width="150" height="150">
</div>

<div class="col-md-3">
    <p>
        Pedro Santos  pedro.linares.santos@gmail.com
    </p>
    <img src="../../UploadedFiles/Pedro.jpg" width="150" height="150">
</div>

<div class="col-md-3">
    <p>
        Sara Rodrigues  saralopesr@gmail.com
    </p>
    <img src="../../UploadedFiles/sara.jpg" width="150" height="150">
</div>

<style>
    body {
        background-image: url("../../UploadedFiles/tijolos.jpg");
    }

</style>



