@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Face2Face</h1>
    <p class="lead">Queres aprender uma nova língua fora da sala de aula?</p>
    <p><a href="" class=""></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Uma maneira de combinares encontros em todos as linguas!</h2>
        <p>
            O Face2Face é uma plataforma que te permite aprender, aperfeiçoar ou adquirir vocabulário numa nova língua.
            Uma nova maneira de aprender que também te permite conviver com pessoas de outras nacionalidades, da mesma nacionalidade que tu e que partilham os mesmos gostos.
        </p>
        <p><a class="" href=""></a></p>
    </div>

    @*@Html.Partial("AuthorPartial")*@

    @*public class ManageController : Controller
    {}*@
    @*<div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="" href=""></a></p>
    </div>
</div>*@

<div style="width:auto; background-color:aqua>
    @if (Request.IsAuthenticated)
{
    <strong>@Html.Encode(User.Identity.Name)</strong>
    @Html.ActionLink("Log Out", "Logout", "User")
}
    else
{
        @Html.ActionLink("Register", "Register", "User")
        <span> | </span>
        @Html.ActionLink("Log In", "Login", "User")
    }
</div>