@using Face2Face.Models
@model LoginViewModel

<style>
    #logins {
        border: solid;
        border-radius: 20px;
        padding: 10px;
        background-color: gainsboro;
        /*box-shadow: 5px 5px 5px #888888;*/
    }

    #intro {
        background: none;
        padding-right: 30px;
        color: black;
        /*url("../../UploadedFiles/entrada.jpg");*/
    }

    #btn {
        background-color: forestgreen;
        border: 10px;
        color: black;
        width: 280px;
    }

    #sign h2{
        color: black;
        text-align: center;
        font-weight: bold;
        font-family: 'Arabic Typesetting';
        font-size: 70px;
    }

    #loginForm {
        opacity: 0.8;
    }

    #intro h2 {
        font-family: 'Arabic Typesetting';
        font-size: 70px;
        font-weight: bold;
    }

    body {
        background-image: url("../../Content/Images/back.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    h3 {
    text-align:right;
    color:white;
    
    }

    #logs {
        background-color: white;
        opacity: 0.7;
        border-radius: 20px;
    }
</style>

<body>
    <div class="row">
        <br />
        <br />
        <div id="intro" align="justify">
            <h2>Face2Face</h2>
            <p class="lead">A way to arrange gatherings in any language!</p>
        </div>
    </div>

    <div class="row">

        <hr />
        <div class="col-md-12" id="logs">
          
            <section id="socialLoginForm">
                @Html.Partial("../Account/_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                @*"_ExternalLoginsListPartial"*@
            </section>


        </div>
    </div>

     

    @*Do you want to learn a new language outside a classroom?*@

</body>

    @section Scripts {
@Scripts.Render("~/bundles/jqueryval")
        <script>

            $("h4").addClass("hidden");
            $("#sign").removeClass("hidden");
            $("#hrLogs").addClass("hidden");
        </script>
       

    }

