@model Face2Face.Models.EventTable

@{
    Layout = null;
}
    
        
    @foreach (var msg in Model.MessageTable.OrderByDescending(m=>m.MessageID))
    {
        <li>
            <strong>@msg.EventTable.UserProfile1.FirstOrDefault(u=>u.UserID == msg.UserID).Name</strong>: @msg.Message
        </li>
    }


@*// fazer uma lista para fazr display das mensagens que já existem na base de dados... Esta vai ser a partial view que vai ser atualizada
No controlador, tenho que passar uma lista de mensagens à view para conseguir mostrá-las. Ou seja, tenho que passar um modelo.*@