@model Face2Face.Models.EventTable

@{
    Layout = null;
}

<style>
    #partNames {
        align-items: center;
    }

        #partNames a:hover {
            text-decoration: none;
        }

</style>
<div class="participantsDetails EventListCSS">
    @{   int parCount = Model.UserProfile1.Count;

        <div id="totalUsers" class="row">
            <div class="col-md-2">
                <p>
                    <label>
                        Participants:
                    </label>
                    @parCount
                </p>
            </div>

        </div>

        if (parCount != 0)
        {
            <div class="row">
                <div class="col-md-8 col-md-offset-1" id="partNames">
                    @foreach (var part in Model.UserProfile1)
                    {

                        @*@part.Name*@

                        <a href='@Url.Action("Details", "UserProfiles", new { id = @part.UserID })'>
                            @{
                                if (@part.Photo != null)
                                {
                                    <img src=@part.Photo>

                                }
                                else
                                {
                                    <img src="~/Content/Images/avatar.png">
                                }
                            }
                        </a>

                                }
                </div>
 
            </div>

        }
    }
</div>



