@model Face2Face.Models.EventTable

@{ 
    ViewBag.Title = "_Report";
}
<style>

</style>

<p>Report This Comment: </p>
<input type="radio" name="usrname1"/> Spam or scam <br>
<input type="radio" name="usrname2" /> Hate speech or personal attack <br>
<input type="radio" name="usrname3" /> Sexually explicit content <br>
<input type="radio" name="usrname4" /> Violence or harmful behavior <br>
<input type="radio" name="usrname5" /> Outros:* <br>


<input type="button" value="Submit">
<input type="button" value="Cancel">